* {
    margin : 0;
    padding : 0;

}
body{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    height : 100vh ;
    background-color : #b01313 
}
.container{
    background-color : #e5f22c ;
    padding : 20px ;
    border-radius: 1rem;
    box-shadow : 0 0 10px rgba(0,0,0,0.1);

}
form {
    margin : 2rem 0 2rem 0 ;
}
.dropdown {
    display : flex ;
    justify-content: space-between;
    align-items : center ;
    margin-top: auto;
    size: 1rem;
}
.select-container {
    max-width : 1.75 rem ;

}
.butt {
    margin-top : 1rem ;
    padding : 0.5rem 1rem ;
    background-color : #de2dc9 ;
    color : white ;
    border : none ;
    border-radius : 0.25rem ;
    cursor : pointer ;
    text-align: justify;
}